.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-header {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.title {
  font-family: "Neue Machina";
  text-align: center;
}

.contact-information {
  list-style: none;
  align-self: flex-start;
  padding-left: 0;
}

.contact-information li {
  padding: 0.2rem 0;
  display: flex;
}

.contact-information li a {
  text-decoration: none;
  color: #fff;
}

.contact-information li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.contact-information .job::before,
.location::before,
.phone::before,
.email::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.5rem;
}

.job::before {
  background-image: url(/assets/icons/job.svg);
}

.location::before {
  background-image: url(/assets/icons/location.svg);
}

.phone::before {
  background-image: url(/assets/icons/phone.svg);
}

.email::before {
  background-image: url(/assets/icons/email.svg);
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    gap: 90px;
    justify-content: center;
  }

  .title {
    text-align: left;
    font-weight: 500;
  }

  .content {
    max-width: 350px;
  }
}
